body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.background{
    background-color:cyan;
    background-image: url(https://img.freepik.com/free-photo/flat-lay-notebook-with-list-desk_23-2148938729.jpg?ga=GA1.1.193844387.1724937180&semt=ais_hybrid);
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display:inline-block; 
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    color:blue;
}
input {
    padding: 10px;
    margin-right: 10px;
    width: 70%;
}
button {
    padding: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}